<template>
  <p>Full Name: {{ fulName }} </p>
  <p>
      <label for="">First Name: </label>
      <input type="text" v-model="firsName">
  </p>
  <p>
      <label for="">Last Name: </label>
      <input type="text" v-model="lastName">
  </p>
  <p>{{ num }}</p>
  <button @click="incrementNum">Increment</button>
</template>

<script>
export default {
  name: 'ComputedView',
  data: () => {
      return {
          firsName: '',
          lastName: '',
          num: 0
      }
  },
  // methods: {
  //     fulName() {
  //         console.log("Re-evalating fullName")
  //         return this.firsName + this.lastName
  //     },
  //     incrementNum() {
  //         // this.num = this.num + 1
  //         this.num++
  //     }
  // },
  computed: {
      fulName() {
          console.log("Re-evalating fullName")
          return this.firsName + this.lastName
      }
  },
  methods: {
      incrementNum() {
          this.num++
      }
  },
}
</script>