<template>
    <div>
        <p>Full Name :{{ fullName }} </p>
        <button @click="changeName">Change name</button>
    </div>
</template>

<script>
export default {
    // name:"Gettersetter",
data() {
        return {
            firstName: "Petch",
            lastName:  "Blue",
        };
    },
computed: {
    fullName: {
            get() {
                    return this.firstName +" "+ this.lastName;
                },
                set(value){
                    const names = value.split("");
                    this.firstName = names[0];
                    this.lastName = names[1];
                },
            },      
        },

        methods: {
            changeName() {
                this.fullName = "Thannaphan";
            },
        },
    };
</script>
