<template>
  <div>
    <!-- <ComputedView  /> -->
    <GetterSetterVue  />
  </div>
</template>

<script>
  // import ComputedView from './components/ComputedView.vue';
import GetterSetterVue from './components/GetterSetter.vue';
  export default {
    components: {
    // ComputedView,
    GetterSetterVue,
  },
}
</script>